@import url(fonts.css);

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}


body {
    background: #040D1F;
}


.ads {
    background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    column-gap: 24px;
}


.span__ads {
    width: 166px;
    line-height: 18px;
    font-family: 'Comfortaa-Regular';
}


.container {
    width: 1140px;
    margin: 0 auto;
}

nav {
    background: rgba(1, 3, 5, 0.8);
}

.nav__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    color: white;
    font-size: 18px;
    font-family: 'Comfortaa-Bold';

}


.ul__list {
    display: flex;
    column-gap: 30px;
}

.ul__list-a {
    color: white;
    font-size: 14px;
    font-family: 'Montserrat-Regular';
    line-height: 18px;
    padding: 42px 0;
    display: flex;
    justify-content: center;
    position: relative;
    transition: .5s;
}


.ul__list-a:hover {
    color: #ED8E00;
}


.ul__list-a::before {
    content: " ";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #ED8E00;
    transition: .5s;
}


.ul__list-a:hover::before {
    width: 100%;
}

.header {
    display: flex;
    position: relative;
    min-height: 100vh;
}


.header__banner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


.header__content {
    background: rgba(7, 15, 25, 0.75);
    /* display: flex; */
    align-items: center;
    flex-grow: 1;
}

.header__title {
    font-size: 64px;
    color: white;
    padding: 164px 0 30px;
    font-family: 'Montserrat-Bold';
}

.header__subtitle {
    max-width: 570px;
    color: #C8C8C8;
    font-family: 'Montserrat-Regular';
    line-height: 24px;
    text-align: justify;
    padding-bottom: 50px;
}

.btn {
    padding: 17px 48px;
    border-radius: 4px;
    background: #F18128;
    font-size: 14px;
    font-family: 'Roboto-Medium';
    color: black;
    transition: .5s;

}


.btn:hover {
    background: #040D1F;
    color: white;
}


.header__btns {
    display: flex;
    column-gap: 30px;
}



/*  main  start  */

.films {
    padding: 60px 0 77px;
}


.films__title {
    font-family: 'Comfortaa-Regular';
    font-size: 36px;
    color: #F18128;
    margin-bottom: 54px;
    border-bottom: 2px solid #F18128;
    max-width: max-content;
    padding-bottom: 10px;
}


.films__card {
    position: relative;
    max-width: 255px;
    width: 100%;

}

.films__card-content {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    color: white;
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);
    border-radius: 6px;
    height: 100%;
    align-items: center;
    padding: 54px 15px 18px;
}

.films__card-time {
    margin: 12px 0 18px;
    padding: 7px 28px;
    border: 2px solid white;
    border-radius: 9px;
}


.films__card-title {
    font-size: 22px;
    font-family: 'Montserrat-Regular';
    line-height: 26px;
    margin-bottom: 12px;
}


.films__card-txt {
    font-family: 'Roboto-Regular';
    font-size: 14px;
    line-height: 21px;
}

.films__cards {
    display: flex;
    justify-content: space-between;
}


.premier {
    position: relative;
}

.premier__video {
    position: absolute;
    right: 0;
    height: 100%;
    z-index: -1;
}

.premier__content {
    background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 60.64%, rgba(255, 255, 255, 0) 110.72%);
    padding: 42px 0 80px;
}


.premier__content-img {
    margin-bottom: 51px;
}

.premier__content-txt {
    font-size: 18px;
    text-align: justify;
    font-family: 'Roboto-Regular';
    line-height: 27px;
    max-width: 558px;
    width: 100%;
    margin-bottom: 55px;
}


.collections {
    margin: 62px 0;
}

.collection__card {
    max-width: 350px;
    width: 100%;
    position: relative;
    transition: .5s;
}


.collection__card-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    transition: .5s;
}

.collections__card-content {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 55px 0;
    row-gap: 15px;
    background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
    border-radius: 6px;
    transition: .5s;
    position: relative;
    overflow: hidden;

}

.collections__card-title {
    font-size: 20px;
    font-family: 'Comfortaa-Bold';
    line-height: 22px;
    transition: .5s;
}


.collections__card-content::before {
    content: url(../img/poloska.png);
    position: absolute;
    top: 5%;
    left: 2%;
    transition: .5s;
    overflow: hidden;
}

.collections__card-content::after {
    content: url(../img/poloska.png);
    position: absolute;
    top: 5%;
    right: 2%;
    transition: .5s;
}

.collections__cards {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    transition: .5s;

}

.collections__card-content:hover .fad {
    transform: translateY(50%);
}

.fad {
    transition: .5s;
}

.collections__card-content:hover .collections__card-title {
    transform: scale(0);
}


.collections__card-content:hover::before {
    transform: translateY(110%);
}

.collections__card-content:hover::after {
    transform: translateY(-110%);
}


.series__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 63px;

}

.item1 {
    grid-column: span 4;
    grid-row: span 2;
    position: relative;
}


.item1__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    border-radius: 6px;

}


.item1__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 96px 22px;
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 10.86%, rgba(11, 11, 11, 0.6) 110.86%);
    row-gap: 30px;
    overflow: hidden;

}

.item1__title {
    font-size: 40px;
    font-family: 'Comfortaa-Bold';
    line-height: 44px;
    transform: translateX(-250%);
    transition: .8s;

}

.item1__subtitle {
    font-family: 'Comfortaa-Regular';
    line-height: 24px;
    text-align: justify;
    transform: translateX(150%);
    transition: .8s;
}


.item1__content:hover .item1__title {
    transform: translateX(0);
}



.item1__content:hover .item1__subtitle {
    transform: translateX(0);
}



.item2 {
    grid-column: span 2;
    grid-row: span 2;
    position: relative;
    overflow: hidden;
}

.item2__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 6px;
    object-fit: cover;
}

.item2__content {
    padding: 144px 0 164px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 0%, rgba(11, 11, 11, 0.6) 100%);
}

.item2__title {
    padding-top: 20px;
    font-size: 24px;
    line-height: 26px;
    font-family: 'Comfortaa-Bold';
    transform: translateY(300px);
    transition: .5s;
}


.item2__content:hover .item2__title {
    transform: translate(0);
}

.item2__content:hover .fad {
    transform: rotateX(360deg);
}



.item3 {
    position: relative;
    overflow: hidden;
}

.item3__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 6px;
    object-fit: cover;
}


.item3__content {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 6px;
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 0%, rgba(11, 11, 11, 0.6) 100%);
    transition: .5s;
}


.item3__title {
    padding-top: 20px;
    font-size: 24px;
    line-height: 26px;
    font-family: 'Comfortaa-Bold';
    transform: translateY(300px);
    transition: 0.5s;
}


.item3__content:hover .fad {
    transform: rotateX(360deg);
}


.item3__content:hover .item3__title {
    transform: translateY(0);
}





/*  main  end */


/* footer  start  */

.footer {
    background: linear-gradient(90deg, #FF8C30 0%, #9F4700 100%);
    padding: 24px 0;
    
}

.footer__img{
    margin-right: 50px; 
}

.footer__box-title{
    color: white;
    font-size: 18px;
    line-height: 20px;
    font-family: 'Comfortaa-Bold';
    
}


.footer__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}





/* footer  end  */